<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 style="color: rgb(255, 187, 40);" class="animated fadeIn">
                    <b>
                        ¡Visualiza la consola del navegador!
                    </b>
                </h3>
                <hr>
                <p>
                    Se esta reproduciendo una secuencia numérica en pares. <br> <br>
                    <b>Para detenerla cambia de página.</b>
                </p>
            </div>
        </div>
    </div>
</div>