.marginShadow {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.15);
    position: relative;
    bottom: 0;
    transition: .2s ease-out;
}
.marginShadow:hover {
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.15);
    position: relative;
    bottom: 2px;
    transition: .2s ease;
}

.tagHospital {
    background-color: #ffffff2f;
    border-radius: 200px;
}
.hospitalName {
    font-weight: 500;
    font-size: 13px;
    color: white;
    opacity: 75%;
}
.drName {
    font-weight: 500;
    font-size: 13px;
    color: white;
    opacity: 50%;
}

.decoLine {
    width: 140px;
    margin-left: 15px;
    border-bottom: 1px solid #455a64;
}
.decoLine2 {
    width: 455px;
    margin-left: 15px;
    border-bottom: 1px solid #455a64;
}